In [121]:
import pandas as pd
import numpy as np

df_anim = pd.read_csv('origine_animale.csv')
df_veg = pd.read_csv('origine_vegetale.csv')
df_pop = pd.read_csv('population.csv')

df_anim.columns = [title.lower().replace(" ", "_") for title in df_anim.columns]
df_veg.columns = [title.lower().replace(" ", "_") for title in df_veg.columns]
df_pop.columns = [title.lower().replace(" ", "_") for title in df_pop.columns]

print(df_anim.shape)
print(df_veg.shape)
print(df_pop.shape)

(27713, 14)
(92233, 14)
(364, 14)

In [122]:
df_anim.head(5)

,code_domaine,domaine,code_zone_(m49),zone,code_élément,élément,code_produit_(fbs),produit,code_année,année,unité,valeur,symbole,description_du_symbole
0,FBS,Bilans Alimentaires (2010-),4,Afghanistan,645,Disponibilité alimentaire en quantité (kg/pers...,S2731,Viande de Bovins,2018,2018,kg,2.67,E,Valeur estimée
1,FBS,Bilans Alimentaires (2010-),4,Afghanistan,645,Disponibilité alimentaire en quantité (kg/pers...,S2731,Viande de Bovins,2019,2019,kg,2.76,E,Valeur estimée
2,FBS,Bilans Alimentaires (2010-),4,Afghanistan,664,Disponibilité alimentaire (Kcal/personne/jour),S2731,Viande de Bovins,2018,2018,Kcal/personne/jour,14.92,E,Valeur estimée
3,FBS,Bilans Alimentaires (2010-),4,Afghanistan,664,Disponibilité alimentaire (Kcal/personne/jour),S2731,Viande de Bovins,2019,2019,Kcal/personne/jour,15.42,E,Valeur estimée
4,FBS,Bilans Alimentaires (2010-),4,Afghanistan,674,Disponibilité de protéines en quantité (g/pers...,S2731,Viande de Bovins,2018,2018,g/personne/jour,1.12,E,Valeur estimée

In [123]:
df_veg.head(5)

,code_domaine,domaine,code_zone_(m49),zone,code_élément,élément,code_produit_(fbs),produit,code_année,année,unité,valeur,symbole,description_du_symbole
0,FBS,Bilans Alimentaires (2010-),4,Afghanistan,645,Disponibilité alimentaire en quantité (kg/pers...,S2511,Blé et produits,2018,2018,kg,162.62,E,Valeur estimée
1,FBS,Bilans Alimentaires (2010-),4,Afghanistan,645,Disponibilité alimentaire en quantité (kg/pers...,S2511,Blé et produits,2019,2019,kg,160.40,E,Valeur estimée
2,FBS,Bilans Alimentaires (2010-),4,Afghanistan,664,Disponibilité alimentaire (Kcal/personne/jour),S2511,Blé et produits,2018,2018,Kcal/personne/jour,1365.34,E,Valeur estimée
3,FBS,Bilans Alimentaires (2010-),4,Afghanistan,664,Disponibilité alimentaire (Kcal/personne/jour),S2511,Blé et produits,2019,2019,Kcal/personne/jour,1346.93,E,Valeur estimée
4,FBS,Bilans Alimentaires (2010-),4,Afghanistan,674,Disponibilité de protéines en quantité (g/pers...,S2511,Blé et produits,2018,2018,g/personne/jour,41.23,E,Valeur estimée

In [124]:
df_pop.head(5)

,code_domaine,domaine,code_zone_(m49),zone,code_élément,élément,code_produit_(fbs),produit,code_année,année,unité,valeur,symbole,description_du_symbole
0,FBS,Bilans Alimentaires (2010-),4,Afghanistan,511,Population totale,S2501,Population,2018,2018,1000 No,36686.78,X,Ciffre de sources internationales
1,FBS,Bilans Alimentaires (2010-),4,Afghanistan,511,Population totale,S2501,Population,2019,2019,1000 No,37769.50,X,Ciffre de sources internationales
2,FBS,Bilans Alimentaires (2010-),710,Afrique du Sud,511,Population totale,S2501,Population,2018,2018,1000 No,57339.64,X,Ciffre de sources internationales
3,FBS,Bilans Alimentaires (2010-),710,Afrique du Sud,511,Population totale,S2501,Population,2019,2019,1000 No,58087.06,X,Ciffre de sources internationales
4,FBS,Bilans Alimentaires (2010-),8,Albanie,511,Population totale,S2501,Population,2018,2018,1000 No,2877.01,X,Ciffre de sources internationales

In [125]:
# Exercice 4


df_anim['type'] = "animal"
df_veg['type'] = "vegetal"

product = pd.concat([df_veg,df_anim])
product

,code_domaine,domaine,code_zone_(m49),zone,code_élément,élément,code_produit_(fbs),produit,code_année,année,unité,valeur,symbole,description_du_symbole,type
0,FBS,Bilans Alimentaires (2010-),4,Afghanistan,645,Disponibilité alimentaire en quantité (kg/pers...,S2511,Blé et produits,2018,2018,kg,162.62,E,Valeur estimée,vegetal
1,FBS,Bilans Alimentaires (2010-),4,Afghanistan,645,Disponibilité alimentaire en quantité (kg/pers...,S2511,Blé et produits,2019,2019,kg,160.40,E,Valeur estimée,vegetal
2,FBS,Bilans Alimentaires (2010-),4,Afghanistan,664,Disponibilité alimentaire (Kcal/personne/jour),S2511,Blé et produits,2018,2018,Kcal/personne/jour,1365.34,E,Valeur estimée,vegetal
3,FBS,Bilans Alimentaires (2010-),4,Afghanistan,664,Disponibilité alimentaire (Kcal/personne/jour),S2511,Blé et produits,2019,2019,Kcal/personne/jour,1346.93,E,Valeur estimée,vegetal
4,FBS,Bilans Alimentaires (2010-),4,Afghanistan,674,Disponibilité de protéines en quantité (g/pers...,S2511,Blé et produits,2018,2018,g/personne/jour,41.23,E,Valeur estimée,vegetal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27708,FBS,Bilans Alimentaires (2010-),716,Zimbabwe,684,Disponibilité de matière grasse en quantité (g...,S2767,"Mollusques, Autres",2019,2019,g/personne/jour,0.00,E,Valeur estimée,animal
27709,FBS,Bilans Alimentaires (2010-),716,Zimbabwe,645,Disponibilité alimentaire en quantité (kg/pers...,S2769,Animaux Aquatiques Autre,2019,2019,kg,0.00,E,Valeur estimée,animal
27710,FBS,Bilans Alimentaires (2010-),716,Zimbabwe,664,Disponibilité alimentaire (Kcal/personne/jour),S2769,Animaux Aquatiques Autre,2019,2019,Kcal/personne/jour,0.00,E,Valeur estimée,animal
27711,FBS,Bilans Alimentaires (2010-),716,Zimbabwe,674,Disponibilité de protéines en quantité (g/pers...,S2769,Animaux Aquatiques Autre,2019,2019,g/personne/jour,0.00,E,Valeur estimée,animal
27712,FBS,Bilans Alimentaires (2010-),716,Zimbabwe,684,Disponibilité de matière grasse en quantité (g...,S2769,Animaux Aquatiques Autre,2019,2019,g/personne/jour,0.00,E,Valeur estimée,animal

In [126]:
# Exercice 5


df_pop = df_pop[['code_zone_(m49)','zone','année','valeur']]
df_pop.rename(columns={'valeur': 'pop_1000_hab'}, inplace=True)
df_pop

     code_zone_(m49)            zone  année  pop_1000_hab
0                  4     Afghanistan   2018      36686.78
1                  4     Afghanistan   2019      37769.50
2                710  Afrique du Sud   2018      57339.64
3                710  Afrique du Sud   2019      58087.06
4                  8         Albanie   2018       2877.01
..               ...             ...    ...           ...
359              887           Yémen   2019      31546.69
360              894          Zambie   2018      17835.89
361              894          Zambie   2019      18380.48
362              716        Zimbabwe   2018      15052.18
363              716        Zimbabwe   2019      15354.61

[364 rows x 4 columns]

In [127]:
# Exercice 6


product = product[['code_zone_(m49)','zone','élément','produit', 'année', 'unité', 'valeur', 'type']]
product.columns

Index(['code_zone_(m49)', 'zone', 'élément', 'produit', 'année', 'unité',
       'valeur', 'type'],
      dtype='object')

In [128]:
# Exercice 7


df = pd.merge(df_pop, product, on=['code_zone_(m49)', 'zone', 'année'])
df_pop.rename(columns={'valeur': 'pop_1000_hab'}, inplace=True)
df.head(10)

,code_zone_(m49),zone,année,pop_1000_hab,élément,produit,unité,valeur,type
0,4,Afghanistan,2018,36686.78,Disponibilité alimentaire en quantité (kg/pers...,Blé et produits,kg,162.62,vegetal
1,4,Afghanistan,2018,36686.78,Disponibilité alimentaire (Kcal/personne/jour),Blé et produits,Kcal/personne/jour,1365.34,vegetal
2,4,Afghanistan,2018,36686.78,Disponibilité de protéines en quantité (g/pers...,Blé et produits,g/personne/jour,41.23,vegetal
3,4,Afghanistan,2018,36686.78,Disponibilité de matière grasse en quantité (g...,Blé et produits,g/personne/jour,6.14,vegetal
4,4,Afghanistan,2018,36686.78,Disponibilité alimentaire en quantité (kg/pers...,Riz et produits,kg,23.85,vegetal
5,4,Afghanistan,2018,36686.78,Disponibilité alimentaire (Kcal/personne/jour),Riz et produits,Kcal/personne/jour,159.36,vegetal
6,4,Afghanistan,2018,36686.78,Disponibilité de protéines en quantité (g/pers...,Riz et produits,g/personne/jour,3.24,vegetal
7,4,Afghanistan,2018,36686.78,Disponibilité de matière grasse en quantité (g...,Riz et produits,g/personne/jour,0.41,vegetal
8,4,Afghanistan,2018,36686.78,Disponibilité alimentaire en quantité (kg/pers...,Orge et produits,kg,0.22,vegetal
9,4,Afghanistan,2018,36686.78,Disponibilité alimentaire (Kcal/personne/jour),Orge et produits,Kcal/personne/jour,1.67,vegetal

In [129]:
# Exercice 8


df.dtypes

code_zone_(m49)      int64
zone                object
année                int64
pop_1000_hab       float64
élément             object
produit             object
unité               object
valeur             float64
type                object
dtype: object

In [130]:
# Exercice 9

# df[pd.isnull].count()
df.isnull().sum()

code_zone_(m49)    0
zone               0
année              0
pop_1000_hab       0
élément            0
produit            0
unité              0
valeur             0
type               0
dtype: int64

In [131]:
# Exercice 10

df.describe()

       code_zone_(m49)          année  pop_1000_hab         valeur
count    119946.000000  119946.000000  1.199460e+05  119946.000000
mean        427.344122    2018.509062  4.327827e+04      11.643984
std         250.391442       0.499920  1.534066e+05      56.450984
min           4.000000    2018.000000  1.213000e+01       0.000000
25%         208.000000    2018.000000  2.508880e+03       0.010000
50%         422.000000    2019.000000  9.958830e+03       0.270000
75%         642.000000    2019.000000  3.154669e+04       3.330000
max         894.000000    2019.000000  1.421864e+06    1744.850000

In [132]:
# Exercice 11

df['zone'].unique()

array(['Afghanistan', 'Afrique du Sud', 'Albanie', 'Algérie', 'Allemagne',
       'Angola', 'Antigua-et-Barbuda', 'Arabie saoudite', 'Argentine',
       'Arménie', 'Australie', 'Autriche', 'Azerbaïdjan', 'Bahamas',
       'Bahreïn', 'Bangladesh', 'Barbade', 'Bélarus', 'Belgique',
       'Belize', 'Bénin', 'Bhoutan', 'Bolivie (État plurinational de)',
       'Bosnie-Herzégovine', 'Botswana', 'Brésil', 'Bulgarie',
       'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodge', 'Cameroun',
       'Canada', 'Chili', 'Chine - RAS de Hong-Kong',
       'Chine - RAS de Macao', 'Chine, continentale',
       'Chine, Taiwan Province de', 'Chypre', 'Colombie', 'Comores',
       'Congo', 'Costa Rica', "Côte d'Ivoire", 'Croatie', 'Cuba',
       'Danemark', 'Djibouti', 'Dominique', 'Égypte', 'El Salvador',
       'Émirats arabes unis', 'Équateur', 'Espagne', 'Estonie',
       'Eswatini', "États-Unis d'Amérique", 'Éthiopie',
       'Fédération de Russie', 'Fidji', 'Finlande', 'France', 'Gabon',
       'Gambie', 'Géorgie', 'Ghana', 'Grèce', 'Grenade', 'Guatemala',
       'Guinée', 'Guinée-Bissau', 'Guyana', 'Haïti', 'Honduras',
       'Hongrie', 'Îles Salomon', 'Inde', 'Indonésie',
       "Iran (République islamique d')", 'Iraq', 'Irlande', 'Islande',
       'Israël', 'Italie', 'Jamaïque', 'Japon', 'Jordanie', 'Kazakhstan',
       'Kenya', 'Kirghizistan', 'Kiribati', 'Koweït', 'Lesotho',
       'Lettonie', 'Liban', 'Libéria', 'Libye', 'Lituanie', 'Luxembourg',
       'Macédoine du Nord', 'Madagascar', 'Malaisie', 'Malawi',
       'Maldives', 'Mali', 'Malte', 'Maroc', 'Maurice', 'Mauritanie',
       'Mexique', 'Micronésie (États fédérés de)', 'Mongolie',
       'Monténégro', 'Mozambique', 'Myanmar', 'Namibie', 'Nauru', 'Népal',
       'Nicaragua', 'Niger', 'Nigéria', 'Norvège', 'Nouvelle-Calédonie',
       'Nouvelle-Zélande', 'Oman', 'Ouganda', 'Ouzbékistan', 'Pakistan',
       'Panama', 'Papouasie-Nouvelle-Guinée', 'Paraguay',
       'Pays-Bas (Royaume des)', 'Pérou', 'Philippines', 'Pologne',
       'Polynésie française', 'Portugal', 'Qatar',
       'République arabe syrienne', 'République centrafricaine',
       'République de Corée', 'République de Moldova',
       'République démocratique du Congo',
       'République démocratique populaire lao', 'République dominicaine',
       'République populaire démocratique de Corée',
       'République-Unie de Tanzanie', 'Roumanie',
       "Royaume-Uni de Grande-Bretagne et d'Irlande du Nord", 'Rwanda',
       'Sainte-Lucie', 'Saint-Kitts-et-Nevis',
       'Saint-Vincent-et-les Grenadines', 'Samoa', 'Sao Tomé-et-Principe',
       'Sénégal', 'Serbie', 'Seychelles', 'Sierra Leone', 'Slovaquie',
       'Slovénie', 'Soudan', 'Soudan du Sud', 'Sri Lanka', 'Suède',
       'Suisse', 'Suriname', 'Tadjikistan', 'Tchad', 'Tchéquie',
       'Thaïlande', 'Timor-Leste', 'Togo', 'Trinité-et-Tobago', 'Tunisie',
       'Turkménistan', 'Turquie', 'Ukraine', 'Uruguay', 'Vanuatu',
       'Venezuela (République bolivarienne du)', 'Viet Nam', 'Yémen',
       'Zambie', 'Zimbabwe'], dtype=object)

In [133]:
# Exercice 13

df = df.pivot_table(index=['code_zone_(m49)', 'zone','année','pop_1000_hab','produit','type'], columns='élément',values='valeur',aggfunc='first').reset_index()

In [134]:
# Exercice 14

df.rename(columns={'code_zone_(m49)': 'area_country','zone': 'country','année': 'year','produit': 'item','Disponibilité alimentaire (Kcal/personne/jour)': 'food_supply_(Kcal/capital/day)','Disponibilité alimentaire en quantité (kg/personne/an)': 'food_supply_quantity_(kg/capital/year)', 'Disponibilité de matière grasse en quantité (g/personne/jour)': 'fat_supply_quantity_(g/capital/day)','Disponibilité de protéines en quantité (g/personne/jour)': 'protein_supply_quantity_(g/capital/day)'}, inplace=True)
df

élément,area_country,country,year,pop_1000_hab,item,type,food_supply_(Kcal/capital/day),food_supply_quantity_(kg/capital/year),fat_supply_quantity_(g/capital/day),protein_supply_quantity_(g/capital/day)
0,4,Afghanistan,2018,36686.78,Abats Comestible,animal,4.39,1.38,0.22,0.57
1,4,Afghanistan,2018,36686.78,"Agrumes, Autres",vegetal,3.84,2.29,0.06,0.08
2,4,Afghanistan,2018,36686.78,Aliments pour enfants,vegetal,0.52,0.06,0.02,0.02
3,4,Afghanistan,2018,36686.78,Ananas et produits,vegetal,0.03,0.03,0.00,0.00
4,4,Afghanistan,2018,36686.78,Arachides,vegetal,19.04,1.67,1.53,0.80
...,...,...,...,...,...,...,...,...,...,...
30011,894,Zambie,2019,18380.48,Viande de Volailles,animal,10.26,2.72,0.59,1.23
30012,894,Zambie,2019,18380.48,Viande de porcins,animal,10.08,1.56,0.85,0.60
30013,894,Zambie,2019,18380.48,"Viande, Autre",animal,8.47,2.19,0.43,1.13
30014,894,Zambie,2019,18380.48,Vin,vegetal,0.32,0.15,0.00,0.00
30015,894,Zambie,2019,18380.48,"Épices, Autres",vegetal,1.81,0.21,0.05,0.07

In [135]:
# Exercice 15

df_2018 = df.mask(df["year"] == 2019).dropna()
df_2018

élément,area_country,country,year,pop_1000_hab,item,type,food_supply_(Kcal/capital/day),food_supply_quantity_(kg/capital/year),fat_supply_quantity_(g/capital/day),protein_supply_quantity_(g/capital/day)
0,4.0,Afghanistan,2018.0,36686.78,Abats Comestible,animal,4.39,1.38,0.22,0.57
1,4.0,Afghanistan,2018.0,36686.78,"Agrumes, Autres",vegetal,3.84,2.29,0.06,0.08
2,4.0,Afghanistan,2018.0,36686.78,Aliments pour enfants,vegetal,0.52,0.06,0.02,0.02
3,4.0,Afghanistan,2018.0,36686.78,Ananas et produits,vegetal,0.03,0.03,0.00,0.00
4,4.0,Afghanistan,2018.0,36686.78,Arachides,vegetal,19.04,1.67,1.53,0.80
...,...,...,...,...,...,...,...,...,...,...
29926,894.0,Zambie,2018.0,17835.89,Viande de Volailles,animal,12.54,3.32,0.73,1.50
29927,894.0,Zambie,2018.0,17835.89,Viande de porcins,animal,11.56,1.79,0.98,0.69
29928,894.0,Zambie,2018.0,17835.89,"Viande, Autre",animal,8.75,2.27,0.45,1.17
29929,894.0,Zambie,2018.0,17835.89,Vin,vegetal,0.40,0.18,0.00,0.00
29930,894.0,Zambie,2018.0,17835.89,"Épices, Autres",vegetal,1.32,0.16,0.04,0.05

In [136]:
# Exercice 16

df_afr_aust = pd.read_csv('areas/afrique_australe.csv')
df_afr_cent = pd.read_csv('areas/afrique_centrale.csv')
df_afr_occi = pd.read_csv('areas/afrique_occidentale.csv')
df_afr_orient = pd.read_csv('areas/afrique_orientale.csv')
df_afr_sept = pd.read_csv('areas/afrique_sept.csv')

df_amer_cent = pd.read_csv('areas/amerique_centrale.csv')
df_amer_sud = pd.read_csv('areas/amerique_du_sud.csv')
df_amer_sept = pd.read_csv('areas/amerique_sept.csv')

df_asie_cent = pd.read_csv('areas/asie_centrale.csv')
df_asie_merid = pd.read_csv('areas/asie_meridio.csv')
df_asie_occi = pd.read_csv('areas/asie_occidentale.csv')
df_asie_orient = pd.read_csv('areas/asie_orientale.csv')
df_asie_sud = pd.read_csv('areas/asie_sud_est.csv')

df_austr_nz = pd.read_csv('areas/australie_nz.csv')

df_caraibes = pd.read_csv('areas/caraibes.csv')

df_europe_merid = pd.read_csv('areas/europe_meridoniale.csv')
df_europe_occi = pd.read_csv('areas/europe_occidentale.csv')
df_europe_orient = pd.read_csv('areas/europe_orientale.csv')
df_europe_sept = pd.read_csv('areas/europe_septentrionale.csv')

df_melanesie = pd.read_csv('areas/melanesie.csv')
df_micronesie = pd.read_csv('areas/micronesie.csv')
df_polynesie = pd.read_csv('areas/polynesie.csv')

In [137]:

df_afr_aust['zone_geographique'] = "afrique australe"
df_afr_cent['zone_geographique'] = "afrique centrale"
df_afr_occi['zone_geographique'] = "afrique occidentale"
df_afr_orient['zone_geographique'] = "afrique orientale"
df_afr_sept['zone_geographique'] = "afrique septentrionnale"

df_amer_cent['zone_geographique'] = "amerique centrale"
df_amer_sud['zone_geographique'] = "amerique sud"
df_amer_sept['zone_geographique'] = "amerique septentrionnale"

df_asie_cent['zone_geographique'] = "asie centrale"
df_asie_merid['zone_geographique'] = "asie merid"
df_asie_occi['zone_geographique'] = "asie occidentale"
df_asie_orient['zone_geographique'] = "asie orientale"
df_asie_sud['zone_geographique'] = "asie sud"

df_austr_nz['zone_geographique'] = "australie nouvelle zelande"
df_caraibes['zone_geographique'] = "caraibes"

df_europe_merid['zone_geographique'] = "europe merid"
df_europe_occi['zone_geographique'] = "europe occidentale"
df_europe_orient['zone_geographique'] = "europe orientale"
df_europe_sept['zone_geographique'] = "europe septentrionnale"


df_melanesie['zone_geographique'] = "melanesie"
df_micronesie['zone_geographique'] = "micronesie"
df_polynesie['zone_geographique'] = "polynesie"


df_geo = pd.concat([df_afr_aust, df_afr_cent, df_afr_occi, df_afr_orient, df_afr_sept, df_amer_cent, df_amer_sud, df_amer_sept, df_asie_cent, df_asie_merid, df_asie_occi, df_asie_orient, df_asie_sud, df_austr_nz, df_caraibes, df_europe_merid, df_europe_occi, df_europe_orient, df_europe_sept])
df_geo

,Code Domaine,Domaine,Code zone (M49),Zone,Code Élément,Élément,Code Produit (FBS),Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole,zone_geographique
0,FBS,Bilans Alimentaires (2010-),710,Afrique du Sud,511,Population totale,S2501,Population,2018,2018,1000 No,57339.64,X,Ciffre de sources internationales,afrique australe
1,FBS,Bilans Alimentaires (2010-),710,Afrique du Sud,511,Population totale,S2501,Population,2019,2019,1000 No,58087.06,X,Ciffre de sources internationales,afrique australe
2,FBS,Bilans Alimentaires (2010-),72,Botswana,511,Population totale,S2501,Population,2018,2018,1000 No,2451.41,X,Ciffre de sources internationales,afrique australe
3,FBS,Bilans Alimentaires (2010-),72,Botswana,511,Population totale,S2501,Population,2019,2019,1000 No,2499.70,X,Ciffre de sources internationales,afrique australe
4,FBS,Bilans Alimentaires (2010-),748,Eswatini,511,Population totale,S2501,Population,2018,2018,1000 No,1160.43,X,Ciffre de sources internationales,afrique australe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15,FBS,Bilans Alimentaires (2010-),578,Norvège,511,Population totale,S2501,Population,2019,2019,1000 No,5348.28,X,Ciffre de sources internationales,europe septentrionnale
16,FBS,Bilans Alimentaires (2010-),826,Royaume-Uni de Grande-Bretagne et d'Irlande du...,511,Population totale,S2501,Population,2018,2018,1000 No,66432.99,X,Ciffre de sources internationales,europe septentrionnale
17,FBS,Bilans Alimentaires (2010-),826,Royaume-Uni de Grande-Bretagne et d'Irlande du...,511,Population totale,S2501,Population,2019,2019,1000 No,66778.66,X,Ciffre de sources internationales,europe septentrionnale
18,FBS,Bilans Alimentaires (2010-),752,Suède,511,Population totale,S2501,Population,2018,2018,1000 No,10162.30,X,Ciffre de sources internationales,europe septentrionnale
19,FBS,Bilans Alimentaires (2010-),752,Suède,511,Population totale,S2501,Population,2019,2019,1000 No,10267.92,X,Ciffre de sources internationales,europe septentrionnale

In [138]:
df_geo.columns = [title.lower().replace(" ", "_") for title in df_geo.columns]
df_geo = df_geo[['code_zone_(m49)', 'zone', 'année', 'valeur', 'zone_geographique']]
df_geo.rename(columns={'code_zone_(m49)': 'area_country','zone': 'country','année': 'year', 'valeur' : 'pop_area', 'zone_geographique' : 'geo_area'}, inplace=True)

/var/folders/wq/twjlxmqj33zfx2xqd9_84n4w0000gn/T/ipykernel_60537/1655939847.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_geo.rename(columns={'code_zone_(m49)': 'area_country','zone': 'country','année': 'year', 'valeur' : 'pop_area', 'zone_geographique' : 'geo_area'}, inplace=True)

In [139]:
df = pd.merge(df_geo, df, on=['area_country', 'country', 'year'])
df

,area_country,country,year,pop_area,geo_area,pop_1000_hab,item,type,food_supply_(Kcal/capital/day),food_supply_quantity_(kg/capital/year),fat_supply_quantity_(g/capital/day),protein_supply_quantity_(g/capital/day)
0,710,Afrique du Sud,2018,57339.64,afrique australe,57339.64,Abats Comestible,animal,17.69,5.23,0.94,2.23
1,710,Afrique du Sud,2018,57339.64,afrique australe,57339.64,"Agrumes, Autres",vegetal,0.17,0.11,0.00,0.00
2,710,Afrique du Sud,2018,57339.64,afrique australe,57339.64,Aliments pour enfants,vegetal,0.00,0.00,0.00,0.00
3,710,Afrique du Sud,2018,57339.64,afrique australe,57339.64,Ananas et produits,vegetal,0.51,0.54,0.00,0.00
4,710,Afrique du Sud,2018,57339.64,afrique australe,57339.64,Animaux Aquatiques Autre,animal,0.00,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...
28558,752,Suède,2019,10267.92,europe septentrionnale,10267.92,Viande de Volailles,animal,62.41,15.94,3.55,7.45
28559,752,Suède,2019,10267.92,europe septentrionnale,10267.92,Viande de porcins,animal,156.30,29.17,11.55,12.94
28560,752,Suède,2019,10267.92,europe septentrionnale,10267.92,"Viande, Autre",animal,0.79,0.21,0.04,0.11
28561,752,Suède,2019,10267.92,europe septentrionnale,10267.92,Vin,vegetal,43.33,20.19,0.00,0.11
28562,752,Suède,2019,10267.92,europe septentrionnale,10267.92,"Épices, Autres",vegetal,5.16,0.71,0.14,0.17

## <span style = 'color : orange'>exercice 19 </span>
 Quelle est la population de l’Ukraine en 2018 ? L’output doit être un int (pas un DataFrame)

In [140]:
filet_country = df[(df['country'] == 'Ukraine') & (df['year']== 2018)]
filet_country
population_ukraine_2018 = int(filet_country['pop_1000_hab'].iloc[0])
population_ukraine_2018

44446

## <span style = 'color : orange'>exercice 22 </span>
 Créez une nouvelle colonne taux_croissance_pop_18_19
 avec le taux de variation de la population entre 2018 
 et 2019 dans chaque pays. Affichez les 5 pays avec le taux de croissance démographique le plus élevé.

In [141]:
data_2018 = df[df['year'] == 2018]
data_2019 = df[df['year'] == 2019]
merged_data = pd.merge(data_2018, data_2019, on=['area_country','country','geo_area','item','type','food_supply_(Kcal/capital/day)','food_supply_quantity_(kg/capital/year)','fat_supply_quantity_(g/capital/day)','protein_supply_quantity_(g/capital/day)'] 
,suffixes=('_2018', '_2019'))
merged_data['taux_croissance_pop_18_19'] = ((merged_data['pop_1000_hab_2019'] - merged_data['pop_1000_hab_2018']) / merged_data['pop_1000_hab_2018']) * 100
top5_taux_croissance = merged_data 
top5_taux_croissance[['country','taux_croissance_pop_18_19']].groupby('country').max().sort_values(by='taux_croissance_pop_18_19', ascending=False).head(5)

                           taux_croissance_pop_18_19
country
République arabe syrienne                   3.955784
Niger                                       3.837214
Angola                                      3.453592
Ouganda                                     3.453394
Tchad                                       3.349481

## <span style = 'color : orange'>exercice 23 </span>
Quel est le taux de croissance moyen en fonction de la zone géographique ?

In [142]:
data_2018 = df[df['year'] == 2018]
data_2019 = df[df['year'] == 2019]
merged_data = pd.merge(data_2018, data_2019, on=['area_country','country','geo_area','item','type','food_supply_(Kcal/capital/day)','food_supply_quantity_(kg/capital/year)','fat_supply_quantity_(g/capital/day)','protein_supply_quantity_(g/capital/day)'] 
,suffixes=('_2018', '_2019'))
merged_data['le_taux_de_croissance_moyenne'] = ((merged_data['pop_1000_hab_2019'] - merged_data['pop_1000_hab_2018']) / merged_data['pop_1000_hab_2018']) * 100
taux_croissance = merged_data 
taux_croissance[['geo_area','le_taux_de_croissance_moyenne']].groupby('geo_area').mean().round(2)

                            le_taux_de_croissance_moyenne
geo_area
afrique australe                                     1.37
afrique centrale                                     2.82
afrique occidentale                                  2.57
afrique orientale                                    2.68
afrique septentrionnale                              1.83
amerique centrale                                    1.16
amerique septentrionnale                             1.05
amerique sud                                         0.88
asie centrale                                        1.61
asie merid                                           1.38
asie occidentale                                     1.16
asie orientale                                       0.79
asie sud                                             1.01
australie nouvelle zelande                           2.10
caraibes                                             0.50
europe merid                                         0.13
europe occidentale                                   0.55
europe orientale                                    -0.35
europe septentrionnale                               0.39

## <span style = 'color : orange'>exercice 24 </span>
 Calculez la disponibilité de nourriture totale par pays et par année, en kcal et kg de protéines. Attention aux unités de mesure !

In [143]:
# Multiplication de la disponibilité alimentaire par habitant par jour par la population
df['food_supply_(Kcal/capital/day)'] = df['food_supply_(Kcal/capital/day)'] * df['pop_1000_hab']

# Agrégation pour obtenir la disponibilité totale de kilocalories par pays et par année
dispo_nourriture_totale_kcal = df.groupby(['country', 'year'])[['food_supply_(Kcal/capital/day)']].agg(sum)
dispo_nourriture_totale_kcal = dispo_nourriture_totale_kcal.reset_index()
dispo_nourriture_totale_kcal = dispo_nourriture_totale_kcal.sort_values(['year', 'food_supply_(Kcal/capital/day)'], ascending=False)

# Multiplication de la quantité de protéines par habitant par jour par 1000 pour obtenir des grammes
df['protein_supply_quantity_(g/capital/day)'] = df['protein_supply_quantity_(g/capital/day)'] * 1000

# Agrégation pour obtenir la disponibilité totale de protéines en grammes par pays et par année
dispo_nourriture_totale_prot = df.groupby(['country', 'year'])[['protein_supply_quantity_(g/capital/day)']].agg(sum)
dispo_nourriture_totale_prot = dispo_nourriture_totale_prot.reset_index()
dispo_nourriture_totale_prot = dispo_nourriture_totale_prot.sort_values(['year', 'protein_supply_quantity_(g/capital/day)'], ascending=False)

/var/folders/wq/twjlxmqj33zfx2xqd9_84n4w0000gn/T/ipykernel_60537/2180361791.py:5: FutureWarning: The provided callable <built-in function sum> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  dispo_nourriture_totale_kcal = df.groupby(['country', 'year'])[['food_supply_(Kcal/capital/day)']].agg(sum)
/var/folders/wq/twjlxmqj33zfx2xqd9_84n4w0000gn/T/ipykernel_60537/2180361791.py:13: FutureWarning: The provided callable <built-in function sum> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  dispo_nourriture_totale_prot = df.groupby(['country', 'year'])[['protein_supply_quantity_(g/capital/day)']].agg(sum)

In [144]:
# print(f'{dispo_nourriture_totale_kcal}\n\n{dispo_nourriture_totale_prot}')

In [145]:
# Fusion des DataFrames dispo_nourriture_totale_kcal et dispo_nourriture_totale_prot
merged_df = pd.merge(dispo_nourriture_totale_kcal, dispo_nourriture_totale_prot, on=['country', 'year'])

# Calcul du ratio énergie/poids pour chaque produit et pays
merged_df['ratio_energie_poids'] = merged_df['food_supply_(Kcal/capital/day)'] / merged_df['protein_supply_quantity_(g/capital/day)']

# Remplacement des valeurs infinies par NaN et suppression des lignes avec des valeurs nulles
merged_df.replace([np.inf, -np.inf], np.nan, inplace=True)
merged_df.dropna(subset=['ratio_energie_poids'], inplace=True)

# Utilisez la colonne 'item' pour le regroupement
moyenne_ratio_par_aliment = merged_df.groupby('item')['ratio_energie_poids'].mean()

# Afficher les résultats
print(moyenne_ratio_par_aliment)

KeyError: 'item'

## <span style = 'color : orange'>exercice 27 </span>
 Quels sont les 10 aliments les plus caloriques ?

In [ ]:
aliments_plus_caloriques = df.groupby('item')['food_supply_(Kcal/capital/day)'].agg(max).reset_index()
aliments_plus_caloriques = aliments_plus_caloriques.sort_values(by='food_supply_(Kcal/capital/day)', ascending=False).head(10)
aliments_plus_caloriques

/var/folders/wq/twjlxmqj33zfx2xqd9_84n4w0000gn/T/ipykernel_55087/2945734888.py:1: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  aliments_plus_caloriques = df.groupby('item')['food_supply_(Kcal/capital/day)'].agg(max).reset_index()

                               item  food_supply_(Kcal/capital/day)
79                  Riz et produits                    1.217163e+09
12                  Blé et produits                    8.868729e+08
49                  Légumes, autres                    3.684761e+08
94                Viande de porcins                    3.484290e+08
83                    Sucre Eq Brut                    3.081490e+08
48               Lait - Excl Beurre                    2.567609e+08
52                 Maïs et produits                    1.282149e+08
50  Légumineuses Autres et produits                    1.252270e+08
51               Manioc et produits                    1.228470e+08
75      Pommes de Terre et produits                    1.169649e+08

## <span style = 'color : orange'>exercice 30 </span>
 Avec la disponibilité alimentaire de produits végétaux combien d’être humains pourrait-on nourrir ?

In [ ]:
df

,area_country,country,year,pop_area,geo_area,pop_1000_hab,item,type,food_supply_(Kcal/capital/day),food_supply_quantity_(kg/capital/year),fat_supply_quantity_(g/capital/day),protein_supply_quantity_(g/capital/day)
0,710,Afrique du Sud,2018,57339.64,afrique australe,57339.64,Abats Comestible,animal,1.014338e+06,5.23,0.94,2230.0
1,710,Afrique du Sud,2018,57339.64,afrique australe,57339.64,"Agrumes, Autres",vegetal,9.747739e+03,0.11,0.00,0.0
2,710,Afrique du Sud,2018,57339.64,afrique australe,57339.64,Aliments pour enfants,vegetal,0.000000e+00,0.00,0.00,0.0
3,710,Afrique du Sud,2018,57339.64,afrique australe,57339.64,Ananas et produits,vegetal,2.924322e+04,0.54,0.00,0.0
4,710,Afrique du Sud,2018,57339.64,afrique australe,57339.64,Animaux Aquatiques Autre,animal,0.000000e+00,0.00,0.00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
28558,752,Suède,2019,10267.92,europe septentrionnale,10267.92,Viande de Volailles,animal,6.408209e+05,15.94,3.55,7450.0
28559,752,Suède,2019,10267.92,europe septentrionnale,10267.92,Viande de porcins,animal,1.604876e+06,29.17,11.55,12940.0
28560,752,Suède,2019,10267.92,europe septentrionnale,10267.92,"Viande, Autre",animal,8.111657e+03,0.21,0.04,110.0
28561,752,Suède,2019,10267.92,europe septentrionnale,10267.92,Vin,vegetal,4.449090e+05,20.19,0.00,110.0
28562,752,Suède,2019,10267.92,europe septentrionnale,10267.92,"Épices, Autres",vegetal,5.298247e+04,0.71,0.14,170.0

In [148]:
# df_2019 = df.mask(df["year"] == 2018).dropna()
stats_desc = df.groupby(['country'])
# [['food_supply_quantity_kg_year']].agg(sum)
hey = stats_desc['food_supply_quantity_(kg/capital/year)'].agg(['median' , 'mean'])
hey

                       median       mean
country
Afghanistan             0.150   5.167434
Afrique du Sud          0.460   6.202312
Albanie                 1.310  16.134503
Algérie                 0.450  10.428902
Allemagne               1.570  11.894063
...                       ...        ...
Égypte                  0.520   8.560667
Émirats arabes unis     1.470   7.577975
Équateur                0.520   6.926894
États-Unis d'Amérique   1.730  12.653869
Éthiopie                0.165   4.084310

[175 rows x 2 columns]