In [1]:
import pandas as pd
df_anim = pd.read_csv('origine_animale.csv')
df_veg = pd.read_csv('origine_vegetale.csv')
df_pop = pd.read_csv('population.csv')

df_anim.columns = [title.lower().replace(" ", "_") for title in df_anim.columns]
df_veg.columns = [title.lower().replace(" ", "_") for title in df_veg.columns]
df_pop.columns = [title.lower().replace(" ", "_") for title in df_pop.columns]

print(df_anim.shape)
print(df_veg.shape)
print(df_pop.shape)

(27713, 14)
(92233, 14)
(364, 14)

In [2]:
df_anim.head(5)

,code_domaine,domaine,code_zone_(m49),zone,code_élément,élément,code_produit_(fbs),produit,code_année,année,unité,valeur,symbole,description_du_symbole
0,FBS,Bilans Alimentaires (2010-),4,Afghanistan,645,Disponibilité alimentaire en quantité (kg/pers...,S2731,Viande de Bovins,2018,2018,kg,2.67,E,Valeur estimée
1,FBS,Bilans Alimentaires (2010-),4,Afghanistan,645,Disponibilité alimentaire en quantité (kg/pers...,S2731,Viande de Bovins,2019,2019,kg,2.76,E,Valeur estimée
2,FBS,Bilans Alimentaires (2010-),4,Afghanistan,664,Disponibilité alimentaire (Kcal/personne/jour),S2731,Viande de Bovins,2018,2018,Kcal/personne/jour,14.92,E,Valeur estimée
3,FBS,Bilans Alimentaires (2010-),4,Afghanistan,664,Disponibilité alimentaire (Kcal/personne/jour),S2731,Viande de Bovins,2019,2019,Kcal/personne/jour,15.42,E,Valeur estimée
4,FBS,Bilans Alimentaires (2010-),4,Afghanistan,674,Disponibilité de protéines en quantité (g/pers...,S2731,Viande de Bovins,2018,2018,g/personne/jour,1.12,E,Valeur estimée

In [3]:
df_veg.head(5)

,code_domaine,domaine,code_zone_(m49),zone,code_élément,élément,code_produit_(fbs),produit,code_année,année,unité,valeur,symbole,description_du_symbole
0,FBS,Bilans Alimentaires (2010-),4,Afghanistan,645,Disponibilité alimentaire en quantité (kg/pers...,S2511,Blé et produits,2018,2018,kg,162.62,E,Valeur estimée
1,FBS,Bilans Alimentaires (2010-),4,Afghanistan,645,Disponibilité alimentaire en quantité (kg/pers...,S2511,Blé et produits,2019,2019,kg,160.40,E,Valeur estimée
2,FBS,Bilans Alimentaires (2010-),4,Afghanistan,664,Disponibilité alimentaire (Kcal/personne/jour),S2511,Blé et produits,2018,2018,Kcal/personne/jour,1365.34,E,Valeur estimée
3,FBS,Bilans Alimentaires (2010-),4,Afghanistan,664,Disponibilité alimentaire (Kcal/personne/jour),S2511,Blé et produits,2019,2019,Kcal/personne/jour,1346.93,E,Valeur estimée
4,FBS,Bilans Alimentaires (2010-),4,Afghanistan,674,Disponibilité de protéines en quantité (g/pers...,S2511,Blé et produits,2018,2018,g/personne/jour,41.23,E,Valeur estimée

In [4]:
df_pop.head(5)

,code_domaine,domaine,code_zone_(m49),zone,code_élément,élément,code_produit_(fbs),produit,code_année,année,unité,valeur,symbole,description_du_symbole
0,FBS,Bilans Alimentaires (2010-),4,Afghanistan,511,Population totale,S2501,Population,2018,2018,1000 No,36686.78,X,Ciffre de sources internationales
1,FBS,Bilans Alimentaires (2010-),4,Afghanistan,511,Population totale,S2501,Population,2019,2019,1000 No,37769.50,X,Ciffre de sources internationales
2,FBS,Bilans Alimentaires (2010-),710,Afrique du Sud,511,Population totale,S2501,Population,2018,2018,1000 No,57339.64,X,Ciffre de sources internationales
3,FBS,Bilans Alimentaires (2010-),710,Afrique du Sud,511,Population totale,S2501,Population,2019,2019,1000 No,58087.06,X,Ciffre de sources internationales
4,FBS,Bilans Alimentaires (2010-),8,Albanie,511,Population totale,S2501,Population,2018,2018,1000 No,2877.01,X,Ciffre de sources internationales

In [5]:
# Exercice 4


df_anim['type'] = "animal"
df_veg['type'] = "vegetal"

product = pd.concat([df_veg,df_anim])
product

,code_domaine,domaine,code_zone_(m49),zone,code_élément,élément,code_produit_(fbs),produit,code_année,année,unité,valeur,symbole,description_du_symbole,type
0,FBS,Bilans Alimentaires (2010-),4,Afghanistan,645,Disponibilité alimentaire en quantité (kg/pers...,S2511,Blé et produits,2018,2018,kg,162.62,E,Valeur estimée,vegetal
1,FBS,Bilans Alimentaires (2010-),4,Afghanistan,645,Disponibilité alimentaire en quantité (kg/pers...,S2511,Blé et produits,2019,2019,kg,160.40,E,Valeur estimée,vegetal
2,FBS,Bilans Alimentaires (2010-),4,Afghanistan,664,Disponibilité alimentaire (Kcal/personne/jour),S2511,Blé et produits,2018,2018,Kcal/personne/jour,1365.34,E,Valeur estimée,vegetal
3,FBS,Bilans Alimentaires (2010-),4,Afghanistan,664,Disponibilité alimentaire (Kcal/personne/jour),S2511,Blé et produits,2019,2019,Kcal/personne/jour,1346.93,E,Valeur estimée,vegetal
4,FBS,Bilans Alimentaires (2010-),4,Afghanistan,674,Disponibilité de protéines en quantité (g/pers...,S2511,Blé et produits,2018,2018,g/personne/jour,41.23,E,Valeur estimée,vegetal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27708,FBS,Bilans Alimentaires (2010-),716,Zimbabwe,684,Disponibilité de matière grasse en quantité (g...,S2767,"Mollusques, Autres",2019,2019,g/personne/jour,0.00,E,Valeur estimée,animal
27709,FBS,Bilans Alimentaires (2010-),716,Zimbabwe,645,Disponibilité alimentaire en quantité (kg/pers...,S2769,Animaux Aquatiques Autre,2019,2019,kg,0.00,E,Valeur estimée,animal
27710,FBS,Bilans Alimentaires (2010-),716,Zimbabwe,664,Disponibilité alimentaire (Kcal/personne/jour),S2769,Animaux Aquatiques Autre,2019,2019,Kcal/personne/jour,0.00,E,Valeur estimée,animal
27711,FBS,Bilans Alimentaires (2010-),716,Zimbabwe,674,Disponibilité de protéines en quantité (g/pers...,S2769,Animaux Aquatiques Autre,2019,2019,g/personne/jour,0.00,E,Valeur estimée,animal
27712,FBS,Bilans Alimentaires (2010-),716,Zimbabwe,684,Disponibilité de matière grasse en quantité (g...,S2769,Animaux Aquatiques Autre,2019,2019,g/personne/jour,0.00,E,Valeur estimée,animal

In [6]:
# Exercice 5


df_pop = df_pop[['code_zone_(m49)','zone','année','valeur']]
df_pop.rename(columns={'valeur': 'pop_1000_hab'}, inplace=True)
df_pop

     code_zone_(m49)            zone  année  pop_1000_hab
0                  4     Afghanistan   2018      36686.78
1                  4     Afghanistan   2019      37769.50
2                710  Afrique du Sud   2018      57339.64
3                710  Afrique du Sud   2019      58087.06
4                  8         Albanie   2018       2877.01
..               ...             ...    ...           ...
359              887           Yémen   2019      31546.69
360              894          Zambie   2018      17835.89
361              894          Zambie   2019      18380.48
362              716        Zimbabwe   2018      15052.18
363              716        Zimbabwe   2019      15354.61

[364 rows x 4 columns]

In [7]:
# Exercice 6


product = product[['code_zone_(m49)','zone','élément','produit', 'année', 'unité', 'valeur', 'type']]
product.columns

Index(['code_zone_(m49)', 'zone', 'élément', 'produit', 'année', 'unité',
       'valeur', 'type'],
      dtype='object')

In [8]:
# Exercice 7


df = pd.merge(df_pop, product, on=['code_zone_(m49)', 'zone', 'année'])
df_pop.rename(columns={'valeur': 'pop_1000_hab'}, inplace=True)
df.head(10)

,code_zone_(m49),zone,année,pop_1000_hab,élément,produit,unité,valeur,type
0,4,Afghanistan,2018,36686.78,Disponibilité alimentaire en quantité (kg/pers...,Blé et produits,kg,162.62,vegetal
1,4,Afghanistan,2018,36686.78,Disponibilité alimentaire (Kcal/personne/jour),Blé et produits,Kcal/personne/jour,1365.34,vegetal
2,4,Afghanistan,2018,36686.78,Disponibilité de protéines en quantité (g/pers...,Blé et produits,g/personne/jour,41.23,vegetal
3,4,Afghanistan,2018,36686.78,Disponibilité de matière grasse en quantité (g...,Blé et produits,g/personne/jour,6.14,vegetal
4,4,Afghanistan,2018,36686.78,Disponibilité alimentaire en quantité (kg/pers...,Riz et produits,kg,23.85,vegetal
5,4,Afghanistan,2018,36686.78,Disponibilité alimentaire (Kcal/personne/jour),Riz et produits,Kcal/personne/jour,159.36,vegetal
6,4,Afghanistan,2018,36686.78,Disponibilité de protéines en quantité (g/pers...,Riz et produits,g/personne/jour,3.24,vegetal
7,4,Afghanistan,2018,36686.78,Disponibilité de matière grasse en quantité (g...,Riz et produits,g/personne/jour,0.41,vegetal
8,4,Afghanistan,2018,36686.78,Disponibilité alimentaire en quantité (kg/pers...,Orge et produits,kg,0.22,vegetal
9,4,Afghanistan,2018,36686.78,Disponibilité alimentaire (Kcal/personne/jour),Orge et produits,Kcal/personne/jour,1.67,vegetal

In [9]:
# Exercice 8


df.dtypes

code_zone_(m49)      int64
zone                object
année                int64
pop_1000_hab       float64
élément             object
produit             object
unité               object
valeur             float64
type                object
dtype: object

In [10]:
# Exercice 9

# df[pd.isnull].count()
df.isnull().sum()

code_zone_(m49)    0
zone               0
année              0
pop_1000_hab       0
élément            0
produit            0
unité              0
valeur             0
type               0
dtype: int64

In [11]:
# Exercice 10

df.describe()

       code_zone_(m49)          année  pop_1000_hab         valeur
count    119946.000000  119946.000000  1.199460e+05  119946.000000
mean        427.344122    2018.509062  4.327827e+04      11.643984
std         250.391442       0.499920  1.534066e+05      56.450984
min           4.000000    2018.000000  1.213000e+01       0.000000
25%         208.000000    2018.000000  2.508880e+03       0.010000
50%         422.000000    2019.000000  9.958830e+03       0.270000
75%         642.000000    2019.000000  3.154669e+04       3.330000
max         894.000000    2019.000000  1.421864e+06    1744.850000

In [12]:
# Exercice 11

df['zone'].unique()

array(['Afghanistan', 'Afrique du Sud', 'Albanie', 'Algérie', 'Allemagne',
       'Angola', 'Antigua-et-Barbuda', 'Arabie saoudite', 'Argentine',
       'Arménie', 'Australie', 'Autriche', 'Azerbaïdjan', 'Bahamas',
       'Bahreïn', 'Bangladesh', 'Barbade', 'Bélarus', 'Belgique',
       'Belize', 'Bénin', 'Bhoutan', 'Bolivie (État plurinational de)',
       'Bosnie-Herzégovine', 'Botswana', 'Brésil', 'Bulgarie',
       'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodge', 'Cameroun',
       'Canada', 'Chili', 'Chine - RAS de Hong-Kong',
       'Chine - RAS de Macao', 'Chine, continentale',
       'Chine, Taiwan Province de', 'Chypre', 'Colombie', 'Comores',
       'Congo', 'Costa Rica', "Côte d'Ivoire", 'Croatie', 'Cuba',
       'Danemark', 'Djibouti', 'Dominique', 'Égypte', 'El Salvador',
       'Émirats arabes unis', 'Équateur', 'Espagne', 'Estonie',
       'Eswatini', "États-Unis d'Amérique", 'Éthiopie',
       'Fédération de Russie', 'Fidji', 'Finlande', 'France', 'Gabon',
       'Gambie', 'Géorgie', 'Ghana', 'Grèce', 'Grenade', 'Guatemala',
       'Guinée', 'Guinée-Bissau', 'Guyana', 'Haïti', 'Honduras',
       'Hongrie', 'Îles Salomon', 'Inde', 'Indonésie',
       "Iran (République islamique d')", 'Iraq', 'Irlande', 'Islande',
       'Israël', 'Italie', 'Jamaïque', 'Japon', 'Jordanie', 'Kazakhstan',
       'Kenya', 'Kirghizistan', 'Kiribati', 'Koweït', 'Lesotho',
       'Lettonie', 'Liban', 'Libéria', 'Libye', 'Lituanie', 'Luxembourg',
       'Macédoine du Nord', 'Madagascar', 'Malaisie', 'Malawi',
       'Maldives', 'Mali', 'Malte', 'Maroc', 'Maurice', 'Mauritanie',
       'Mexique', 'Micronésie (États fédérés de)', 'Mongolie',
       'Monténégro', 'Mozambique', 'Myanmar', 'Namibie', 'Nauru', 'Népal',
       'Nicaragua', 'Niger', 'Nigéria', 'Norvège', 'Nouvelle-Calédonie',
       'Nouvelle-Zélande', 'Oman', 'Ouganda', 'Ouzbékistan', 'Pakistan',
       'Panama', 'Papouasie-Nouvelle-Guinée', 'Paraguay',
       'Pays-Bas (Royaume des)', 'Pérou', 'Philippines', 'Pologne',
       'Polynésie française', 'Portugal', 'Qatar',
       'République arabe syrienne', 'République centrafricaine',
       'République de Corée', 'République de Moldova',
       'République démocratique du Congo',
       'République démocratique populaire lao', 'République dominicaine',
       'République populaire démocratique de Corée',
       'République-Unie de Tanzanie', 'Roumanie',
       "Royaume-Uni de Grande-Bretagne et d'Irlande du Nord", 'Rwanda',
       'Sainte-Lucie', 'Saint-Kitts-et-Nevis',
       'Saint-Vincent-et-les Grenadines', 'Samoa', 'Sao Tomé-et-Principe',
       'Sénégal', 'Serbie', 'Seychelles', 'Sierra Leone', 'Slovaquie',
       'Slovénie', 'Soudan', 'Soudan du Sud', 'Sri Lanka', 'Suède',
       'Suisse', 'Suriname', 'Tadjikistan', 'Tchad', 'Tchéquie',
       'Thaïlande', 'Timor-Leste', 'Togo', 'Trinité-et-Tobago', 'Tunisie',
       'Turkménistan', 'Turquie', 'Ukraine', 'Uruguay', 'Vanuatu',
       'Venezuela (République bolivarienne du)', 'Viet Nam', 'Yémen',
       'Zambie', 'Zimbabwe'], dtype=object)

In [13]:
# Exercice 13

df = df.pivot_table(index=['code_zone_(m49)', 'zone','année','pop_1000_hab','produit','type'], columns='élément',values='valeur',aggfunc='first').reset_index()

In [14]:
# Exercice 14

df.rename(columns={'code_zone_(m49)': 'area_country','zone': 'country','année': 'year','produit': 'item','Disponibilité alimentaire (Kcal/personne/jour)': 'food_supply_(Kcal/capital/day)','Disponibilité alimentaire en quantité (kg/personne/an)': 'food_supply_quantity_(kg/capital/day)', 'Disponibilité de matière grasse en quantité (g/personne/jour)': 'fat_supply_quantity_(g/capital/day)','Disponibilité de protéines en quantité (g/personne/jour)': 'protein_supply_quantity_(g/capital/day)'}, inplace=True)
df

élément,area_country,country,year,pop_1000_hab,item,type,food_supply_(Kcal/capital/day),food_supply_quantity_(kg/capital/day),fat_supply_quantity_(g/capital/day),protein_supply_quantity_(g/capital/day)
0,4,Afghanistan,2018,36686.78,Abats Comestible,animal,4.39,1.38,0.22,0.57
1,4,Afghanistan,2018,36686.78,"Agrumes, Autres",vegetal,3.84,2.29,0.06,0.08
2,4,Afghanistan,2018,36686.78,Aliments pour enfants,vegetal,0.52,0.06,0.02,0.02
3,4,Afghanistan,2018,36686.78,Ananas et produits,vegetal,0.03,0.03,0.00,0.00
4,4,Afghanistan,2018,36686.78,Arachides,vegetal,19.04,1.67,1.53,0.80
...,...,...,...,...,...,...,...,...,...,...
30011,894,Zambie,2019,18380.48,Viande de Volailles,animal,10.26,2.72,0.59,1.23
30012,894,Zambie,2019,18380.48,Viande de porcins,animal,10.08,1.56,0.85,0.60
30013,894,Zambie,2019,18380.48,"Viande, Autre",animal,8.47,2.19,0.43,1.13
30014,894,Zambie,2019,18380.48,Vin,vegetal,0.32,0.15,0.00,0.00
30015,894,Zambie,2019,18380.48,"Épices, Autres",vegetal,1.81,0.21,0.05,0.07

In [15]:
# Exercice 15

df_2018 = df.mask(df["year"] == 2019).dropna()
df_2018

élément,area_country,country,year,pop_1000_hab,item,type,food_supply_(Kcal/capital/day),food_supply_quantity_(kg/capital/day),fat_supply_quantity_(g/capital/day),protein_supply_quantity_(g/capital/day)
0,4.0,Afghanistan,2018.0,36686.78,Abats Comestible,animal,4.39,1.38,0.22,0.57
1,4.0,Afghanistan,2018.0,36686.78,"Agrumes, Autres",vegetal,3.84,2.29,0.06,0.08
2,4.0,Afghanistan,2018.0,36686.78,Aliments pour enfants,vegetal,0.52,0.06,0.02,0.02
3,4.0,Afghanistan,2018.0,36686.78,Ananas et produits,vegetal,0.03,0.03,0.00,0.00
4,4.0,Afghanistan,2018.0,36686.78,Arachides,vegetal,19.04,1.67,1.53,0.80
...,...,...,...,...,...,...,...,...,...,...
29926,894.0,Zambie,2018.0,17835.89,Viande de Volailles,animal,12.54,3.32,0.73,1.50
29927,894.0,Zambie,2018.0,17835.89,Viande de porcins,animal,11.56,1.79,0.98,0.69
29928,894.0,Zambie,2018.0,17835.89,"Viande, Autre",animal,8.75,2.27,0.45,1.17
29929,894.0,Zambie,2018.0,17835.89,Vin,vegetal,0.40,0.18,0.00,0.00
29930,894.0,Zambie,2018.0,17835.89,"Épices, Autres",vegetal,1.32,0.16,0.04,0.05

In [16]:
# Exercice 16

df_afr_aust = pd.read_csv('areas/afrique_australe.csv')
df_afr_cent = pd.read_csv('areas/afrique_centrale.csv')
df_afr_occi = pd.read_csv('areas/afrique_occidentale.csv')
df_afr_orient = pd.read_csv('areas/afrique_orientale.csv')
df_afr_sept = pd.read_csv('areas/afrique_sept.csv')

df_amer_cent = pd.read_csv('areas/amerique_centrale.csv')
df_amer_sud = pd.read_csv('areas/amerique_du_sud.csv')
df_amer_sept = pd.read_csv('areas/amerique_sept.csv')

df_asie_cent = pd.read_csv('areas/asie_centrale.csv')
df_asie_merid = pd.read_csv('areas/asie_meridio.csv')
df_asie_occi = pd.read_csv('areas/asie_occidentale.csv')
df_asie_orient = pd.read_csv('areas/asie_orientale.csv')
df_asie_sud = pd.read_csv('areas/asie_sud_est.csv')

df_austr_nz = pd.read_csv('areas/australie_nz.csv')

df_caraibes = pd.read_csv('areas/caraibes.csv')

df_europe_merid = pd.read_csv('areas/europe_meridoniale.csv')
df_europe_occi = pd.read_csv('areas/europe_occidentale.csv')
df_europe_orient = pd.read_csv('areas/europe_orientale.csv')
df_europe_sept = pd.read_csv('areas/europe_septentrionale.csv')

df_melanesie = pd.read_csv('areas/melanesie.csv')
df_micronesie = pd.read_csv('areas/micronesie.csv')
df_polynesie = pd.read_csv('areas/polynesie.csv')